Gate2Ai[[:space:]]prompts[[:space:]]exctractor.exe filter=lfs diff=lfs merge=lfs -text
Gate2Ai_prompts_exctractor.exe filter=lfs diff=lfs merge=lfs -text
dist/*.exe filter=lfs diff=lfs merge=lfs -text
